* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    color: #333333;
}

@font-face {
  font-family: 'axis';
  src: url('fonts/axis.eot'); /* IE9 Compat Modes */
  src: url('fonts/axis.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/axis.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/axis.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/axis.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'clear-sans';
  src: url('fonts/clear-sans.ttf')  format('truetype'), /* Safari, Android, iOS */

}

#container {
    margin: auto;
    width: 100%;
}

header{
    background: url("../img/dark-bg.jpg") repeat;
    padding: 2em;
}

header h1 {
    color: #00c5a2;
    font-family: 'axis';
    text-align: center;
    font-size: 3em;
    padding: .3em;
}

header p {
    font-family: 'clear-sans', sans-serif;
    color: white;
    font-weight: 300;
    line-height: 1.3em
}

.circle {
 width: 20em;
    height: 20em;
    border-radius: 10em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    background: url("../img/kelly.jpg") no-repeat;
    margin: auto;
}

#main{
    font-family: 'clear-sans', sans-serif;
    font-weight: 300;
}

h2 {
    font-family: 'axis';
    font-size: .8em;
    padding: .2em;
}

h3 {
    font-family: 'axis';
    font-size: 1.2em;
    padding: .3em 0 .3em 0;
    text-align: left;
    color: #00c5a2;
    line-height: 1.3em
}

h4 {
    font-family: 'axis';
    font-size: .9em;
    padding: .2em 0 .8em 0;
    text-align: left;
}

.section-header {
    font-size: 2.5em; /*Controls Font Awesome Icons*/
    text-align: center;
    padding: .6em;
}

.contact p {
    line-height: 1.6em
}

.fa {
    color: #00c5a2;
    font-size: 1em;
    text-align: center;
}

.experience p {
    line-height: 1.4em;
    padding-bottom: 1em;
    text-align: left;
}

.freelance-wrapper p {
    line-height: 1.4em;
    padding-bottom: 1em;
    text-align: left;
}

.writing p {
    line-height: 1.3em;
    text-align: left;
    padding-bottom: 1em;
}

.education p {
    font-family: 'clear-sans', sans-serif; /*Education section not inheriting from #main?*/
    font-weight: 300;
    line-height: 1.3em;
    text-align: left;
    padding-bottom: 1em;
}

ul {
    padding-left: 2em;
}

.education li {
    font-family: 'clear-sans', sans-serif;
    font-weight: 300;
    line-height: 1.3em;
    text-align: left;
}


.skills li {
    line-height: 1.3em;
    text-align: left;
}

.fa-ul {
    padding-left: 1em !important;
}

.fa-ul li{
    font-family: 'clear-sans', sans-serif;
    font-weight: 300;
    line-height: 3em;
    text-align: left;
    color: #333333;
}

/* ----------- Start 650px media queries ----------- */

@media (min-width: 650px) {

.si-wrapper {
    text-align: center;
}

.skills {
    display: inline-block;
    width: 42%;
    vertical-align:top;
}

.interests {
    display: inline-block;
    width: 42%;
    vertical-align:top;
}

} /* ----------- End 650px media queries ----------- */


/* ----------- Start 775px media queries ----------- */

@media (min-width: 775px) {

.we-wrapper {
    text-align: center;
}

.writing {
    display: inline-block;
    width: 42%;
    vertical-align:top;
}

.education {
    display: inline-block;
    width: 42%;
    vertical-align:top;
}

} /* ----------- End 775px media queries ----------- */


/* ----------- Start 925px media queries ----------- */

@media (min-width: 925px) {

.section-header {
    text-align: left;
    padding: .6em .6em 0 .6em;
}

header p {
    text-align: center;
}

.ce-wrapper {
    text-align: center;
}

.contact {
    float: left;
    width: 35%;
}

.experience {
    float: right;
    width: 55%;
    vertical-align:top;
}

.freelance-wrapper {
    float: left;
    width: 35%;
    vertical-align:top;
}

.we-wrapper {
    clear: both;
}

.writing {
    width: 35%;
}

.education {
    width: 55%;
}

.skills {
    width: 35%;
}

.interests {
    width: 55%;
}

} /* ----------- End 925px media queries ----------- */





